* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #11101b;
}

body {
    background: #11101b;
}

header {
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo {
     font-size: 28px;
     font-weight: 400;
     color: #fefefe;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #11101b;
    background: #fefefe;
}

.nav-bar ul li a.active {
    color: #11101b;
    background: #fefefe;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.2x;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .nav-bar.active ul {
        opacity: 1;

    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}
h1 {
    color: #fefefe;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    padding-top: 15%;
}



@media only screen and (max-width: 900px) {
    h1 {
        font-size: 30px;
    }
}

.video-player {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 10%;
    top: 40%;
}

@media only screen and (max-width: 900px) {
    .video-player {
        width: 300px;
        height: 80%;
        padding-left: 0%;
    }
}

@media only screen and (max-width: 1100px) {
    .video-player {
        width: 80%;
        padding-left: 0%;
        padding-top: 5px;
    
    }
}

.questions-container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 1000px;
}


.question button{
    width: 100%;
    background-color: #11101b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    border:none;
    outline: none;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}
.question p{
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    color: #fefefe;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}

/*add this class when click*/
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}

@media only screen and (max-width: 900px) {
    .questions-container {
    padding-top: 900px;
    margin-top: 5px;
    width: 85%;
    }
    .question button {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1100px) {
    .questions-container {
        width: 800px;
        padding-left: 10%;
        padding-right: 10%;
        padding-right: 0px;
        padding-top: 400px;
    }
}

.container {
    padding-top: 10rem;
}

.slider-wrapper {
    position: relative;
    max-width: 80rem;
    margin-left: 10%;
}

.slider {
    display: flex;
    overflow: auto;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

@media only screen and (max-width: 900px) {
    
.container {
        max-width: 320px;
        max-height: 20px;
        padding-top: 50px;
        padding-bottom: 280px;
}

   .slider img {
    height: px;
    max-height: 230px;
    
   }
}

@media only screen and (max-width: 1100px) {
    .container {
        width: 820px;
        padding-left: 0%;
        padding-right: 0px;
        padding-top: 80px;
    }

    .slider img {
    height: 550px;
    }
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #fefefe;
    margin: 180px 150px;
}

@media only screen and (max-width: 900px) {
    
    h2 {
         text-align: center;
         font-size: 22px;
         margin: 40px 20px;
    }
}

p {
    font-size: 40px;
    color: #fefefe;
    font-weight: 700;
}

.questions-container2 {
    margin: 150px;
    background-color: #fff;
}
